---
import { useTranslations } from "../i18n";
import External from "./icons/External.astro";
import Arrow from "./icons/Arrow.astro";
import Close from "./icons/Close.astro";
import type { Event as BBTEvent, Lang } from "../types";
import { COLORS_BG, COLORS_BORDER, COLORS_TEXT } from "../const";
import { twMerge } from "tailwind-merge";

type Props = {
  event: BBTEvent;
  lang: Lang;
};

const {
  lang,
  event: { type: eventType, headline, date, description, block, link },
} = Astro.props;

const t = useTranslations(lang);


---

<section
  class={twMerge(
    "flex w-full relative",
    "min-h-[16rem]",
    "justify-end ",
    "xl:odd:justify-start xl:even:justify-end ",
    "before:content-['']",
    "before:absolute",
    "before:left-[1em]",
    "before:w-4",
    "md:before:left-[2em]",
    "xl:before:left-1/2",
    "before:h-full before:z-10",
    "before:ml-3",
    "md:before:ml-2",
    "xl:before:-ml-2",
    "before:w-4 before:bg-[size:4px_4px]",
    "before:bg-[radial-gradient(#dedede_1px,transparent_0px)]",
    "dark:before:bg-[radial-gradient(#666_1px,transparent_0px)]",
    "first:before:top-1/2 last:before:bottom-1/2",
    "group/w"
  )}
  id={block.toString()}
  x-data="{ shown: false, expanded: false }"
  x-intersect.full="shown = true"
  x-intersect:leave="shown = false"
  >
  <!-- 
    x-intersect.once.full="shown = true" 
  
  -->
  <!-- event wrapper -->
  <div
    class={twMerge(
      "pl-14 pr-0 xl:px-24 ",
      "flex items-center relative",
      "w-[90%]",
      "xl:w-1/2"
    )}
  >
    <!-- detail dotted background -->
    <div
      class={twMerge(
        "absolute inset-0",
        "bg-[length:7px_7px] bg-[position:-8.5px_-8.5px]",
        "bg-[radial-gradient(#dedede_1px,transparent_0px)] [mask-image:radial-gradient(ellipse_at_center,#000_20%,transparent_60%)]",
        "dark:bg-[radial-gradient(#666_1px,transparent_0px)] dark:[mask-image:radial-gradient(ellipse_at_center,#000_5%,transparent_60%)]",
      )}
      x-show="shown"
      x-transition:enter="transition ease-out duration-600"
      x-transition:enter-start="opacity-0 "
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-out duration-600"
      x-transition:leave-start="opacity"
      x-transition:leave-end="opacity-0"
    >
    </div>
    <!-- event details -->
    <div
      class={twMerge(
        "relative",
        "py-3 px-8 md:px-10 md:py-4",
        "bg-white dark:bg-gray-700 rounded-2xl w-full shadow-lg",
        "hover:scale-105 ease",
        "group/d"
      )}
      :class="{ 'scale-105 !py-4': expanded }"
      x-show="shown"
      x-transition:enter="transition ease-out duration-500"
      x-transition:enter-start="opacity-0 scale-90 translate-x-1/4 xl:group-odd/w:-translate-x-1/4 xl:group-even/w:translate-x-1/4"
      x-transition:enter-end="opacity-100 scale-100 translate-x-0"
      x-transition:leave="translate-x-1/4"
    >
      <!-- Wrapper to have blocktime in background and behind content (negative z-index) -->
      <div
        class={twMerge(
          "absolute inset-0 opacity-0 overflow-hidden -z-20",
          COLORS_TEXT[eventType]
        )}
        :class="{ 'opacity-0 delay-0 transition-none' : !expanded, 'opacity-10 delay-200' : expanded}"
      >
        <div
          class={twMerge(
            "absolute -bottom-3 md:-bottom-6 right-0 text-6xl md:text-8xl 2xl:text-9xl font-extrabold ease",
            COLORS_TEXT[eventType]
          )}
        >
          {block}
        </div>
      </div>

      <div
        class="w-full relative group/h cursor-pointer"
        @click="expanded = !expanded"
      >
        <h1
          class={twMerge(
            "w-full cursor-pointer leading-none uppercase font-semibold",
            "text-lg md:text-2xl ",
            COLORS_TEXT[eventType]
          )}
        >
          {headline[lang]}
        </h1>
        <Arrow
          class={twMerge(
            "absolute top-1/2 -translate-y-1/2",
            "w-8 h-8 md:w-10 md:h-10",
            "-right-6 md:-right-8",
            "group-hover/h:animate-bounce group-hover/h:top-1 ease",
            COLORS_TEXT[eventType]
          )}
          x-show="!expanded"
        />
        <Close
          class={twMerge(
            "absolute top-1/2 -translate-y-1/2",
            "w-8 h-8 md:h-10 ",
            "-right-7 md:-right-8",
            "group-hover/h:rotate-90 ease",
            COLORS_TEXT[eventType]
          )}
          x-show="expanded"
        />
      </div>

      <div x-show="expanded" x-collapse class="relative">
        <div class="flex items-center text-gray-400 dark:text-gray-300 text-sm pt-1 pb-2">
          <p class="text-inherit">{date.toLocaleDateString([lang])}</p>
          <span class="mx-2 text-inherit">|</span>
          <a
            href=`https://mempool.space/block/${block}`
            class="hover:text-gray-700 dark:hover:text-gray-100 flex items-center text-gray-400 dark:text-gray-300"
          >
            {block}<External
              class="text-inherit ml-1 w-3 h-3"
            />
          </a>
          <span class="mx-2 text-inherit hidden md:block">|</span>
          <p
            class={twMerge(
              "hidden md:block",
              COLORS_BG[eventType],
              "text-white dark:text-gray-100",
              "py-0 px-4 text-xs rounded-full",
              "leading-0"
            )}
          >
            {t(eventType)}
          </p>
        </div>
        {!!description && <p class="text-sm md:text-base text-gray-500 dark:text-gray-200">{description[lang]}</p>}
        <a
          class="text-sm md:text-base underline group flex items-center mt-4 hover:text-gray-700 mr-1 text-gray-500 dark:hover:text-gray-100 dark:text-gray-300 font-semibold"
          href={link.url}
        >
          {link.label[lang]}<External
            class="text-inherit ml-1 "
          />
        </a>
      </div>
    </div>
  </div>
  <!-- block time -->

  <p
    class={twMerge(
      "absolute top-1/2 -translate-y-[50%] rounded-full",
      "xl:-translate-x-[50%]",
      "w-[6em]",
      "left-0",
      "xl:left-1/2",
      "group-last/w:after:bg-none",
      "z-20",
      "text-xs",
      "md:text-base",
      "xl:text-lg",
      "text-center",
      "hover:scale-110 shadow-md",
      "cursor-pointer",
      "ease",
      COLORS_TEXT[eventType],
      COLORS_BG[eventType],
      COLORS_BORDER[eventType],
      "rounded-full px-3 py-1",
      "border-2 xl:border-4",
      
    )}
    :class="{ 'bg-white dark:!bg-gray-800' : expanded, 'text-white dark:!text-gray-200 !border-white dark:!border-gray-700': !expanded }"
    x-show="shown"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 scale-50"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-out duration-300"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-50"
    @click="expanded = !expanded"
  >
    <span x-show="!expanded" class="text-inherit">{block}</span>
    <span x-show="expanded" class="text-inherit">{block}</span>
  </p>
</section>
