---
import "../styles/base.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Events from "../components/Events.astro";
import type { Lang } from "../types";
import { useTranslations } from "../i18n";
import { getEntry } from "astro:content";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const events = await getEntry('events', 'events');

const t = useTranslations(lang)

---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bitcoin Beach Travemünde - {t("title")}</title>
  </head>
  <body>
    <Header lang={lang} />
    <main class="container mx-auto px-6">
      <h1 class="text-2xl md:text-4xl text-gray-500 text-center my-6 uppercase font-semibold">{t("title")}</h1>
        <Events events={events.data} lang={lang} />
    </main>
    <Footer />
  </body>
</html>

<script>
  import Alpine from 'alpinejs'
  import collapse from '@alpinejs/collapse'
  import intersect from '@alpinejs/intersect'
 
  window.Alpine = Alpine
  Alpine.plugin(collapse)
  Alpine.plugin(intersect)
  Alpine.start()
</script>
